*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-style: italic;
}

a{
    text-decoration: none;
    color: white;
}

header{
    width: 100%;
    background-color: rgb(95, 95, 95, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 100px;
}

nav{
    display: flex;
    gap: 50px;
    justify-content: space-between;
}

body {
    background-image: url(https://fondosmil.com/fondo/60444.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

footer{
    background-color: rgb(95, 95, 95, 0.7);
    margin-top: 20px;
    bottom: 0;
    width: 100%;
    color: #fff;
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
}

.linkFooter{
    display: flex;
    gap: 15px;
}

.redesSociales{
    display: flex;
    gap: 30px;
}

.redesSociales button{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: rgb(95, 95, 95, 0.7);
    color: white;
    border-color: white;
}
button {
    width: 9em;
    height: 3em;
    border-radius: 30em;
    font-size: 15px;
    font-family: inherit;
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
    box-shadow: 6px 6px 12px #c5c5c5,
                -6px -6px 12px #ffffff;
}

button::before {
    content: '';
    width: 0;
    height: 3em;
    border-radius: 30em;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #0fd850 0%, #f9f047 100%);
    transition: .5s ease;
    display: block;
    z-index: -1;
}

button:hover::before {
    width: 9em;
}



/* inicio */
.contenedorInicio{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cartas{
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
    gap: 15px;
}

@media only screen and (max-width: 800px) {
    .cartas{
        display: flex;
        flex-direction: column;
        width: 80%;
        align-items: center;
        
    }
}

@media only screen and (max-width: 1200px) {
    .cartas{
        display: flex;
        flex-direction: column;
        width: 80%;
        align-items: center;
        flex-wrap: wrap;
    }
}

.carta{
    background-color: rgb(95, 95, 95, 0.7);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border-radius: 10px;
    gap: 5px;
    width: 30%;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

@media only screen and (max-width: 900px) {
    .carta{
        display: flex;
        flex-direction: column;
        width: 80%;
        align-items: center;
        
    }
}

@media only screen and (max-width: 1200px) {
    .carta{
        display: flex;
        flex-direction: column;
        width: 35%;
        align-items: center;
        
    }
}


.cartaTexto{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.imagenProducto{
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagenProducto img{
    height: 35%;
    width: 45%;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}



.boton button{
    width: 150px;
    padding: 5px;
    margin: 5px;
}

.boton{
    display: flex;
    align-items: center;
    justify-content: center;

}

/* Carrito */


.descripcion{
    width: 30%;
}

.productos{
    display: flex;
    flex-direction: column;
    background-color: rgba(138, 138, 138, 0.3);
    border-radius: 5px;
    justify-content: space-between;
    gap: 20px;
}

.producto{
    display: flex;
    align-items: center;
    font-size: xx-large;
    color: white;
    gap: 20px;
}

.producto img{
    width: 70px;
    height: 70px;
}


.contenedorCarrito{
    background-color: rgb(95, 95, 95, 0.7);
    width:  90%;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 10px;
    gap: 20px;
}

.imagenCarrito img{
    width: 100px;
    height: 100px;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
}

.imagenCarrito{
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.producto > div:first-child {
    flex-basis: 50px;
}

.producto > div:not(:first-child) {
    flex-grow: 1;
}

.contenedorCarrito > div:first-child {
    flex-basis: 50px;
}

.contenedorCarrito > div:not(:first-child) {
    flex-grow: 1;
}

.cantidadCarrito{
    display: flex;
    gap: 20px;
    align-items: center;
}

.cantidadCarrito button{
    width: 20%;
    height: 80%;
    font-size: x-large;
}
.cantidadCarrito button::before{
    background-image: linear-gradient(to right, #0f45d8 0%, #47b2f9 100%);
}

.botonesSumaResta{
    width: 100%;
}